$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$styles: (
	'display-2xl': (
		size: 62px,
		line-height: 70px,
		letter-spacing: -0.02em,
	),
	'display-xl': (
		size: 54px,
		line-height: 62px,
		letter-spacing: -0.02em,
	),
	'display-l': (
		size: 48px,
		line-height: 60px,
	),
	'display-m': (
		size: 36px,
		line-height: 44px,
	),
	'display-s': (
		size: 30px,
		line-height: 38px,
	),
	'display-xs': (
		size: 24px,
		line-height: 32px,
	),
	'text-xl': (
		size: 20px,
		line-height: 26px,
	),
	'text-l': (
		size: 18px,
		line-height: 28px,
	),
	'text-m': (
		size: 16px,
		line-height: 24px,
	),
	'text-s': (
		size: 14px,
		line-height: 20px,
	),
	'text-xs': (
		size: 12px,
		line-height: 18px,
	),
);

@mixin style($name, $weight: $regular) {
	$config: map-get($styles, $name);

	@if $config == null {
		@error 'Unknown typography style: #{$name}';
	}

	font-size: map-get($config, size);
	font-weight: $weight;
	line-height: map-get($config, line-height);

	@if map-has-key($config, letter-spacing) {
		letter-spacing: map-get($config, letter-spacing);
	}
}