@use 'src/app/root/styles/typography' as type;

.professionals {
	padding: 48px 0;
}

.wrapper {
	padding: 32px 22px 48px;

	overflow: hidden;

	background: linear-gradient(
		105deg,
		#abc8e2 0%,
		#bdcee1 50%,
		#d7d6e8 100%
	);

	border-radius: 16px;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	margin-bottom: 32px;
}

h2.title {
	margin: 0;

	@include type.style('display-l', type.$medium);

	color: #171717;
}

.allProfessionals {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	padding-top: 2px;
}

.total {
	@include type.style('text-m', type.$regular);
	color: #1717178e;
}

.allProfessionalsLink {
	display: flex;
	align-items: center;
	gap: 12.5px;
	@include type.style('text-m', type.$medium);
	color: #3524A2;
	text-decoration: none;
	transition: all 0.2s ease;
	svg {
		flex-shrink: 0;
	}
	&:hover {
		color: #4E51FF;
		text-decoration: underline;
	}
}

.slider {
	width: 100%;

	overflow: visible;
}

.slide {
	height: auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 103px;
	height: 100%;

	padding: 24px;

	border-radius: 16px;

	color: #171717;
	text-decoration: none;

	background: #ffffff;

	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;

	&:hover {
		transform: translateY(-2px);

		box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

		.cardTitle {
			color: #4E51FF;
		}

		.cardBottom {
			svg {
				transform: translateX(3px);
			}
		}
		.count {
			color: #4E51FF;
			text-decoration: underline;
		}
	}
}

.cardTitle {
	max-width: 243px;

	margin: 0;

	@include type.style('text-xl', type.$medium);
	color: #171717;
}

.cardBottom {
	display: flex;
	align-items: center;
	gap: 7px;
	color: #3524A2;
	svg {
		flex-shrink: 0;

		transition: transform 0.2s ease;
	}
}

.count {
	@include type.style('text-xl', type.$medium);
}

@media (max-width: 768px) {
	.professionals {
		padding: 30px 0;
	}

	.wrapper {
		padding: 22px 15px 25px;
	}

	.title {
		font-size: 27px;
	}
}

@media (max-width: 500px) {
	.wrapper {
		padding: 20px 15px 22px;
	}

	.header {
		align-items: flex-end;

		margin-bottom: 20px;
	}

	.title {
		font-size: 25px;
	}

	.allProfessionals {
		align-items: flex-end;
	}

	.allProfessionalsLink {
		font-size: 9px;
	}

	.card {
		min-height: 115px;
	}
}